body{
    background-color: orange;
}
.main-header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  .container{
    background-color: black;
    color: #fff;
    padding: 20px;
    font-size: 50px;
  }
  .change{
    font-size: 30px;
    background-color: rgb(60, 60, 60);
    color: #fff;
  }